p{
    color:rgb(120, 120, 212);
    background-color: bisque;
    text-align: center;
}
h1{
    color:rgb(50, 38, 94);
}
h2{
    color:rgb(149, 180, 57);
}

h3{
    color:rgb(23, 187, 236);
}

h4{
    color:aquamarine;
}

h5{
    color:hsl(342, 54%, 36%);
}

h6{
    color:rgb(190, 112, 39);
}
img{
   float: left;
}
table,th,td{
    border: 1px solid black;
    border-collapse:collapse;
    text-align: center;
}
td{
    background-color: rgb(120, 120, 212);
}
th{
    background-color:bisque;
}
#first{
    height: fit-content;
    width:fit-content;
    color:brown;
    background-color: bisque;
}
#second{
    height: fit-content;
    width:fit-content;
    color:black;
    background-color:blanchedalmond;
}
.mango{
    height: fit-content;
    width:fit-content;
    color:blue;
    background-color:antiquewhite;
}
.fruit{
    background-color:black;
}